.details-box_d-flex{
    width:400px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 3rem auto;
}
.details-box__image{
    height: 200px;
    width: 250px;
    margin-top: 10px;
}
h2{
    font-family: serif;
}
h3{
    font-family: serif;
}
h4{
    font-family: serif;
}
.btn-white{
    background-color: rgb(21, 92, 155);
    color: white;
    font-family: serif;
}
.btn-white:hover{
   background-color: rgb(7, 77, 138);
   transform: scale(1.1,1.1);
   transition-duration:0.6s;
}